.head{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-top: 0px;
    border-width: 1px;
    padding: 2rem;
    h1{
        font-weight: 300;
        letter-spacing: 0.1em;
        transition: all 0.5s 0.2s cubic-bezier(.79,.14,.15,.86);
    }
    h1:hover{
        letter-spacing: 0.2em;
    }
  }


.collection-body{
    max-width: 100%;
    overflow: hidden;
}

.banner{
    min-height: 50vh;
    overflow-x: hidden;
}


.banner-text{
    display: flex;
    border: solid;
    border-width: 1px;
    border-top: 0px;
    border-right: 0px;
    padding-left: 5vw;
    a{

        display: flex;
        justify-content: center;
        padding-top: 5px;
        min-width: 200px;
        max-height: 50px;
        color: black;
        border: 1px solid black;
        margin-top: 30vh;
        letter-spacing: 0.1em;
        font-size: 25px;
        font-weight: 100;
        transition: all 0.5s cubic-bezier(.79,.14,.15,.86);
    }

    a:hover{
        color: rgb(0, 0, 0);
        box-shadow: 15px 15px black;
        scale: 1.08;
    }
    a:active{
        transition: all 0.1s ease-in-out;
        scale: 1.01;
    }
}

.banner-text-above-btn{
    display: flex;
    position: absolute;
    margin-top: 25vh;
    pointer-events: none;
    font-family: 'Courier New', monospace;
    font-size: 35px;
    font-weight: 100;
}

.banner-basic{
    border-top: 0px;
    --dot-bg: #95ecff;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1.3px;
    --dot-space: 25px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
    a{
        background-color: #95ecff;
    }
}

.banner-melts{
    min-height: 63vh;
    background-color: rgb(255, 207, 119);
    --dot-bg: wheat;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1.3px;
    --dot-space: 25px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
    a{
        background-color: wheat;
    }
    
}

.banner-knits{
    --dot-bg: #f4e0ea;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1.3px;
    --dot-space: 25px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
    a{
        background-color: #f4e0ea;
    }
}

.banner-img{
    display: flex;
    width: 50%;  
    border: solid;
    padding: 0%;
    border-width: 1px;
    border-top: 0px;
    max-width: 100%;
    overflow-x: hidden;
    object-fit: cover;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}