.contact-page{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 10vh;
}

.contact-text{
    display: inline;
    justify-content: space-evenly;
    padding: 5rem;
    max-width: 50vw;
    max-height: auto;
    background-color: rgba(245, 222, 179, 0.781);
    h3{
        font-weight: 300;
        text-decoration: underline;
        text-align: center;
        padding: 1rem;
    }
    p{
        font-weight: 300;
    }
    b{
        font-weight: 600;
    }
    small{
        display: flex;
        justify-content: center;
        font-weight: 200;
    }

}