
.pic-wrapper {
  display: flex;
  padding: 1rem 5rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
  margin: 0%;
  overflow: hidden;
}

.pic-container {
  display: flex;
  padding: 1rem;
  min-height: 70vh;
  min-width: auto;
  position: relative;
  justify-content: center;
}


.button {
  position: absolute;
  text-anchor:middle;
  font-weight: 300;
  margin-top: calc(0.45*70vh);
  pointer-events: none;

  button {
    padding: 5px 50px;
    border-radius: 0%;
    color: #ffffff;
    letter-spacing: 0.15em;
    line-height: 2rem;
    font-weight: 600;
    background-color: #ffffff00;
  }

  a {
    display: flex;
    justify-content: center;
  }

  h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 2rem;
    font-weight: 600;
    color: #ffffff;
  }
}

.img {
  min-height: 70vh;
  transition: all 0.15s 0.05s ease-in-out;
}

.img:hover{
  scale: 1.08;
  z-index: 3;
  box-shadow: 20px 20px black;
}


.dotted-bg {
  --dot-bg: rgb(255, 255, 255);
  --dot-color: rgb(0, 0, 0);
  --dot-size: 1px;
  --dot-space: 25px;
  background: linear-gradient(90deg,
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.help-box {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: auto;
  min-height: 30vh;
  padding: 5rem;
  .help-img {
    display: flex;
    max-width: 240px;
    max-height: 300px;
    border: 1px solid black;
    justify-content: center;
    box-shadow: 25px 25px black;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .help-text {
    max-width: 500px;
    z-index: 0;
    padding: 5vh;
    background-color: #f6e0b5;
    border: solid;
    border-width: 1px;
    box-shadow: 25px 25px black;
    p {
      font-weight: 300;
      letter-spacing: 0.14em;
    }
  }
}

#carouselExample{
  display: flex;
  border: 1px solid black;
  overflow: hidden;
}

.carousel-item{
  max-height: 850px;
}

.carousel-caption{
  display: flex;
  margin-bottom: 15rem;
  padding: 5rem;
  background-color: #ffffffd7;
  backdrop-filter: blur(10px);
  border: 1px solid black;
  box-shadow: 25px 25px black;
  font-family:"Montserrat", sans-serif;
  h2{
  font-size: 3rem;
  padding: 1rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  }
  p{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}

.carousel-control-prev,
.carousel-control-next {
  scale: 2; /* Change the color to black */
}

.carousel-indicators{
  margin: 10rem 5rem;
  scale: 2;
}