/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 50vw;
  }
  
  .register-container{
    display: flex;
    text-justify:auto;
    justify-content: center;
    padding: 0.1rem;
    a{
      color: rgb(240, 95, 119) ;
      text-align: right;
    }
  }

  .forgot-container{
    display: flex;
    text-justify:auto;
    justify-content: right;
    padding: 0.5rem;
    a{
      color: rgb(240, 95, 119) ;
      text-align: right;
    }
  }


  .form-container {
    display: grid;
    background-color: rgba(245, 222, 179, 0.74);
    box-shadow: 25px 25px;
    padding: 7rem;
    min-width: 550px;
    max-width: 550px;
    justify-content: center;
    button{
      border: 1px solid black;
      border-radius: 0%;
    }
  }
  
  .form-group{
    padding: 10px;
    min-width: 20vw;
    align-items: center;
  }
  
  .form-control{
    border: 1px solid #000;
    border-radius: 0px;
  }

