.mantra {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 0.05em;
    color: black;
    font-size: large;
    font-weight: 200;
    letter-spacing: 0.15em;
    transition: all 0.3s 0.1s cubic-bezier(.79, .14, .15, .86);
    scale: 0.9;
    a {
        color: black;
    }
}

.mantra:hover {
    font-weight: 500;
    letter-spacing: 0.3em;
}

.logo-container:hover {
    .mantra {
        font-weight: 500;
        letter-spacing: 0.3em;
    }
}

.nav-links {
    display: flex;
    max-height: 60px;
    padding: 0.5rem;
    letter-spacing: 0.1em;
    background-color: #a2e0ce;
    border: 1px solid black;
}


ul.nav-links {
    display: flex;
    justify-content: space-between;
    padding-left: 20em;
    padding-right: 20em;
    margin-bottom: 0rem;
    li {
        border-radius: 50px;
        color: rgba(0, 0, 0, 0.75);
        font-size: 1em;
        padding: 10px;
        font-weight: 500;
        transition: all 0.3s cubic-bezier(.79,.14,.15,.86); 
    }

    li:hover {
        border: 1px solid black;
        background-color: #fbd1a2;
        box-shadow: 15px 15px black;
        color: #535353;
        scale: 1.11;
    }
    
    li:active{
        transition: all 0.01s ease-in-out;
        scale: 1.05;
    }
}


.logo-container {
    display: grid;
    justify-items: center;
    --dot-bg: #ffffff;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1px;
    --dot-space: 30px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    justify-self: right;
    width: 10rem;
    height: 2.6em;
    margin-right: 2rem;
    margin-bottom: 1rem;
    a {
        border-radius: 15%;
        color: black;
        transition: colour;
        transition: all 0.3s cubic-bezier(.79,.14,.15,.86); 
    }

    a:hover {
        background-color: #a2e0ce;
        border: 1px solid black;
        box-shadow: 5px 5px black;
        scale: 1.15;
    }

    a:active{
        transition: all 0.01s ease-in-out;
        scale: 1.08;
    }

    svg {
        margin: 0.5rem;
    }
}

.logo {
    max-width: 160px;
    max-height: auto;
}

a {
    text-decoration: none;
}

.Navbar-links-wrapper.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* Add any additional styles you need for the sticky state */
  }