.order-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .order-history-header {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 1.5rem;
        padding-top: 0%;
        border-bottom: 1px solid black;

        h1 {
            font-size: 3rem;
            font-weight: 100;
            letter-spacing: 0.15rem;
        }
    }
}

.no-order-history {
    display: flex;
    justify-content: center;
    margin: 5rem;
    height: 40vh;
    h1{
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.15rem;
    }
}

.order-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f7e5c3;
    font-size: large;
    min-width: 650px;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
    box-shadow: 25px 25px black;
    
    h3 {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
        text-decoration: underline;
    }

    li {
        display: grid;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}


.perforation-lines {
    width: 100%;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-details {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}