.search-container{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
    h1{
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 30px;
        font-weight: 100;
    }
}

.search-box-outer{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.defualt-search-page{
    min-height: 80vh;
    font-size: 20px;
    p{
        display: flex;
        justify-content: center;
        padding: 5rem 5rem;
        font-weight: bolder;
    } 
}

.no-item-page{
    min-height: 80vh;
    font-size: 20px;
    p{
        display: flex;
        justify-content: center;
        padding: 5rem;
        font-size: larger;
    }
}

.search-box{
    display: flex;
    padding: 0.5rem;
    form{
        display: flex;
        min-width: 350px;
        justify-content:flex-end;
        padding: 0.5rem;
    }
    input{
        color: black;
        border-radius: 0%;
    }
    input:focus {
        outline:none;
    }
    .btn{
        border-radius: 0%;
    }
}

.product-grid-header{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 400;
    font-weight: lighter;
    border: 1px black solid;
}

.quick-view{
    /*View product.css for hover child of this div*/
    display: grid;
    background-color:#ace5ee;
    position: relative;
    bottom: -80px;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-top: 1px black solid;
    transition: opacity .3s ease-in-out,
                bottom 0.5s cubic-bezier(.79,.14,.15,.86); 
    h1{
        letter-spacing: 0.15em;
        font-weight: 100;
        font-size: large;
    }
}

