.header-showcase{
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0px;
    letter-spacing: 0.1em;
    border: 0.5px solid #000000;
    border-top: 0px;
    h1{
        font-weight: 100;
    }
}

.dropdown{
    .btn{
        border-radius: 0px;
        min-width: calc(0.5*50vw);
    } 
    .dropdown-menu.show{
        border-radius: 0px;
        border: 1px black solid;
        button{
            padding: 0.5rem;
            min-width: calc(0.5*50vw);
        }
        button:hover{
            background-color: rgb(0, 0, 0);
            color: #ffffff;
        }
    }
}

.showcase-wrapper{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .showcase-wrapper{
        flex-direction: column;
    }
    .showcase-text{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0%;
    }
    .showcase-img-list-icons{
        padding: 0%;
        min-width: 100px;
        max-height: 80vh;
        --background-color: #fa1212;
    }

    .showcase-text-name{
        justify-content: center;
        --background-color: brown;
    }
    
    .showcase-text-price{
        --background-color: brown;
    }

    .showcase-text-stock{
        --background-color: brown;
    }

    .dropdown{
        display: flex;
        justify-content: center;
        --background-color: brown;
        .btn{
            width: 100%;
        }
    }
    .dropdown-menu{
        width: 100%;
    }

    .quantity-box-container{
        display: flex;
        justify-content: center;
        --background-color: brown;
    }

    .add-cart{
        display: flex;
        justify-content: center;
        --background-color: brown;
        .btn{
            width: 50%;
        }
    }

}


.showcase-text{
    padding: calc(0.15*50vw);
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    --dot-bg: #ffffff;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1.3px;
    --dot-space: 25px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);

    .showcase-text-name{
        display: flex;
        padding: 5px;
        --background-color: wheat;
        h2{
            font-weight: 600;
            text-decoration: underline double;
            letter-spacing: 0.1em;
        }
    }

    .showcase-text-price{
        display: flex;
        padding: 5px ;
        --background-color: brown;
        h4{
            font-weight: 500;
        }
    }
    .showcase-text-stock{
        display: flex; 
        --background-color: rgb(253, 253, 253);
        h6{
            font-size: large;
            font-weight: 600;
        }
    }
    .showcase-text-desc{
        display: flex;
        --background-color: burlywood;
        display: flex;
        padding: 30px 0px 30px 0px;
        font-size: large;
        border-bottom: 1px black solid;
    }
}

.quantity-box-container{
    --background-color: aqua;
    display: flex;
    min-height: 83px;
}

.quantity-box{
    background-color: rgb(240, 240, 240);
    border: 1px black solid;
    display: flex;
    max-height: 35px;
    min-width: 50px;
    span{
        display: flex;
        min-width: 50px;
        text-align: center;
        justify-content: center;
        font-size: larger;
        font-weight: 600;
        border-left: 1px black solid;
        border-right: 1px black solid;
    }
    button{
        z-index: 1;
        overflow: hidden;
        font-size: larger;
        min-width: 30px;
        border: none;
        color: rgb(0, 0, 0);
    }
}

.showcase-img-list-icons{
    display: flex;
    flex-direction: column;
    max-width: calc(0.15*50vw);
    max-height: 80vh;
    padding: 0.2em;
    margin: 0.5em;
    gap: 20px;
    img{
        max-width: 100%;
        max-height: 100%;
        border: 1px black solid;
        object-fit: cover;
    }
}

.img-list{
    button{
        background: none; /* Remove background color */
        border: none; /* Remove border */
        padding: 0px; /* Remove padding */
        cursor: pointer; /* Change cursor to pointer on hover */
        outline: none;
        transition: all 0.2s ease-in-out;
    }
    button:hover{
        box-shadow: 8px 8px black;
        scale: 1.1;
    }
}

.showcase-img{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.3em;
    min-width: 49vw;
}

.footer-showcase{
    display: flex;
    min-width: 100vw;
    padding: 1rem;
    letter-spacing: 0.1em;
    border:1px solid #000000;
    transition: all 0.2s ease-in-out;
    a{
        min-height: 100%;
        min-width: 100%;
    }
    p{
        margin-left:44vw;
        font-size: larger;
        color: #000000;
    }
}

.footer-showcase:hover{
    background-color: #000000;
    
    p{
        color: #ffffff;
    }
}

.details{
    display: flex;
    flex-direction: column;
    --background-color: chartreuse;
    padding: 10px 30px;
    p{
        text-align: left;
        margin-left: 30px;
        list-style: circle;
    }
}

.share-details{
    border-top:1px solid black;
    padding: 30px 0px;
    .share-icons{
        display: flex;
        justify-content: space-between;
        padding:15px 80px;
    }
    h1{
        font-size: x-large;
        font-weight: 700;
        letter-spacing: 0.25em;
    }
    svg{
        rect{
            fill: #ffffff00;
        }
        path{
            fill:black;
        }
    }
}

.add-cart{
    button{
        border-radius: 0%;
        padding: 10px 40px;
    }
}


.magnify-image-container{
    background-color: beige;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    max-height: 100vh;
    max-width: auto;
    box-shadow: 15px 25px 1px rgb(0, 0, 0);
    p{
        display: flex;
        position: relative;
        justify-content: flex-end;
        font-family: monospace;
        font-size: 1rem;
        padding-top: 3.5em;
    }

}


.magnify-image{
    display: flex;
    max-height: auto;
    max-width: auto;
    overflow: hidden;
    border: 1px black solid;
}


.more-items{
    display: flex;
    padding: 0%;
    margin-top: 30px;
    margin-bottom: 79px;
    border: 1px solid #000000;
    border-right:0px;
    scale: 0.9;
    box-shadow: 20px 20px;
}

.more-items-cover{
    padding: 0%;
    border-top: 1px solid black;
    background-color: #f5f5dc;
    .more-items-text{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-bottom: 1px solid black;
        h4{
            font-size: 2rem;
            font-weight: 200;
            font-size: 2.5rem;
            padding: 1rem;
        }
    }
}