.success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    h1{
        color: #21c721;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }
    p{
        font-size: 1.5rem;
        font-weight: 100;
    }
}



#success-btn{
    border-radius: 0%;
}