.user-page{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 4em 4rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;    
    padding: 2rem;
    margin-bottom: 30rem;
    background-color:#a2e0ce;
    box-shadow: 20px 20px black;
    max-width: 30rem;
    ul{
        list-style-type: none;
        font-size: larger;
        font-weight: 500;
        text-align: center;
        li{
            margin: 20px 0;
            padding: 8px ;
            letter-spacing : 0.2rem;
            transition: all 0.3s 0.1s cubic-bezier(.79,.14,.15,.86);
        }
        li:hover{
            scale: 1.1;
            border: 1px solid black;
            border-radius: 20px;
            background-color: wheat;
            box-shadow: 10px 10px black;
        }
    }
}

#logout{
    border-radius: 0%;
    width: 120px;
}

.user-header{
    display: flex;
    flex-direction: row;
}

.user-details{
    display: flex;
    flex-direction: column !important;
    padding-left: 5rem;
    padding: 3rem;
    font-size: larger;
    margin-bottom: 20rem;
    letter-spacing : 0.2rem;
    background-color: wheat;
    border: 1px solid black;
    box-shadow: 20px 20px black;
    b{
        font-size: 1.8rem ;
        letter-spacing: 0.2em;
    }
    h1{
        font-size: 2rem;
        font-weight: 800;
        letter-spacing : 0.5rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid black;
    }
    svg{
        margin-left: 10rem ;
        scale: 0.7;
        border: 2px solid black;
        border-radius: 50%;
    }

}

.details-page{
    --background-color: wheat;
    padding-right: 20rem;
    font-size: larger;
    letter-spacing : 0.2rem;
    max-width: 50rem;
    p{
        letter-spacing: 0.1rem;
        font-size: large;
    }
}

#edit{
    border-radius: 0%;
    left: 25rem;
}

#address,#phone{
    margin-right: -10rem;
}